.flex-container {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    border: 4px solid darkgreen;
    padding: 8px;
}

.flex-container-2 {
    display: flex;
    background: lightblue;
    border: 4px solid blue;
    height: 100px;
    margin: 8px;
    flex: 1;
}
  
/* this selector selects all divs inside of .flex-container */
.flex-container div {
    background: lightblue;
    border: 4px solid blue;
    height: 100px;
    margin: 8px;
    flex: 1;
}

.flex-container .two {
    height: 200px;
}